.login-container {
    background-image: url('D:\Applications\html\chat-app-full-stack-main\chat-app-full-stack-main\react.js_app\public\images\1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.login {
    text-align: center;
    margin-left: 33%;
    margin-top: 10%;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px rgb(196, 14, 111);
    border-radius: 4px;
}

.login h2 {
    font-size: 30px;
    margin: 20px 0 10px 0;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.login .display {
    color: black;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 550;
}

.login .display::after{
    content: ' ❌';
}

.login form {
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.login form input {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid transparent;
    
}

#login-btn {
    width: 105%;
    background-color: #e133b0;
    color: black;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#login-btn:hover{
    background-color: #630348;
    color: white;
}

.login a {
    width: 100%;
    text-align: center;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    
}

.login a p {
    display: inline;
    font-size: 20px;
    font-weight: 550;
}

.login a p:hover{
    border-bottom: 2px solid #b21689;
}

@media screen and (max-width: 800px) {
    .login h2 {
        font-size: 25px;
    }

    .login form label{
        font-size: 18px;
    }

    .login .display {
        font-size: 15px;
    }

    .login form input{
        font-size: 16px;
    }

    #login-btn {
        font-size: 18px;
    }

    .login a {
        width: 30%;
        margin-left: calc(70% / 2  - 8px);
    }

    .login a p {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .login h2 {
        font-size: 20px;
    }

    .login form label{
        font-size: 16px;
    }

    .login form input{
        font-size: 14px;
    }

    .login .display {
        font-size: 12px;
    }

    #login-btn {
        width: 40%;
        margin-left: calc(60% / 2);
        font-size: 16px;
    }

    .login a {
        width: 40%;
        margin-left: calc(60% / 2 - 8px);
    }

    .login a p {
        font-size: 16px;
    }
}